

<form [formGroup]="generatorForm">
    <mat-form-field class="mat-form-field">
        <mat-label>{{'qr-crud.product-name' | translate }}</mat-label>
        <input matInput formControlName="name" name="name" required>
        <mat-icon matSuffix matTooltip="{{ 'qr-crud.tooltip.product-name' | translate }}" matTooltipPosition="left"
            matTooltipShowDelay="500" class="custom-color">info</mat-icon>

    </mat-form-field>

    <button mat-raised-button type="submit"
        [style.filter]="this.generatorForm.valid && !isLoading ? 'none' : 'saturate(0%)'"
        [style.opacity]="this.generatorForm.valid && !isLoading ? '1' : '0.5'"
        [disabled]="generatorForm.invalid || isLoading" (click)="onSubmit()">{{'qr-crud.btn-preview' |translate }}
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm pr-3"></span>
    </button>
</form>


