<form [formGroup]="generatorForm">
    <div *ngFor="let key of generatorFormKeys">
        <mat-form-field appearance="outline">
            <mat-label>{{'qr-crud.gen-form.'+key | translate }}</mat-label>
            <small>
                <input matInput placeholder="{{'qr-crud.gen-form.tooltip.'+ key | translate}}">
            </small>
        </mat-form-field>
    </div>

    <button mat-raised-button type="submit" class="view-button"
        [style.filter]="this.generatorForm.valid && !isLoading ? 'none' : 'saturate(0%)'"
        [style.opacity]="this.generatorForm.valid && !isLoading ? '1' : '0.5'"
        [disabled]="generatorForm.invalid || isLoading" (click)="onSubmit()">{{'qr-crud.btn-preview' |translate }}
    </button>
</form>