

.slide-in {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 100;
  }
}

.mat-mdc-card-title {
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(99, 99, 99);
  cursor: default;
}

.mat-mdc-form-field {
  margin: 0px !important;
}

.mat-mdc-card-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-mdc-raised-button .mat-mdc-button-persistent-ripple {
  background-color: #FFAE00 !important;
}

.mat-mdc-raised-button.mat-mdc-button-base {
  margin: 0px !important;
}

.mdc-button__label {
  color: white !important;
  font-weight: bold !important;
}

mat-card {
  max-width: 400px;
  margin: auto;
  margin-top: auto;
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-top: 16px;
}

button {
  margin-top: 24px;
}

/* @medias */

@media (max-width: 600px) {
  .login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media (min-width: 600px) {
  .login-card {
    margin-top: 100px;
  }
}