.slide-in {
    animation-name: slide-in;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 100;
    }
}