<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon matSuffix>create</mat-icon>

        </ng-template>
        <div class="container text-center mt-4">{{'tab.create' | translate}}
   </div>  </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon matSuffix>dashboard</mat-icon>

        </ng-template>
        <div class="container text-center mt-4">{{'tab.dashboard' | translate}} </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon matSuffix>settings</mat-icon>

        </ng-template>

        <div class="container text-center mt-4">{{'tab.config' | translate}}
   </div>  </mat-tab>
</mat-tab-group>