.title {
    font-family: "Spartan", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(99, 99, 99);
    cursor: default;
}

.card {
    margin-block: 1vh  !important;
    box-shadow: 0px 1px 17px -8px rgba(0,0,0,0.65);
}


.mdc-tab-indicator .mdc-tab-indicator__content {
    border-color: #FFAE00 !important;
}

.mat-icon {
    color: #FFAE00 !important;
}

.mdc-tab__ripple::before {
    background-color: #424242 !important;
}

.mat-mdc-tab-body-content {
    overflow: hidden !important;
}

  