
.card-body {
    padding: 0px !important;
}

.icon-position {
    min-width: 4rem;
    margin-top: 0.5vh;
}

.selector-border {
    border-radius: 0;
}

.btn {
    margin: 0;
    border-radius: 0;
    padding-inline: 5px;
    min-width: 4rem;
}

.mat-form-field-underline {
    display: none;
    width: 0 !important;
}

.mat-mdc-form-field-subscript-wrapper {
    width: 100%;
    padding: 0 !important;
    display: none;
}

