<div class="card m-1">
    <div class="card-body">
        <div class="d-flex">
            <div class="text-center">
                <div *ngIf="isQrCreation else qrEdition">
                    <mat-icon matSuffix class="icon-position border-right">create</mat-icon>
                </div>
                <ng-template #qrEdition>
                    <mat-icon matSuffix class="icon-position border-right">settings</mat-icon>
                </ng-template>
            </div>
            <select 
                class="form-select form-select-sm selector-border" 
                [(ngModel)]="selectedProduct" 
                (change)="onValueChanged($event)">
                <option value="">{{'qr-crud.crud-bar.dropdown' | translate}}</option>
                <option 
                    *ngFor="let option of product" 
                    [selected]="option.id" 
                    [value]="option.id">
                    {{option.name}}</option>
            </select>
            <button class="btn">{{'qr-crud.crud-bar.btn-new' | translate}}</button>
        </div>
    </div>
</div>